/* No consistency in CSS classes, inline styles dominate */
:root {
  background-color: #f8f5f2;
  padding: 0 200px;
  font-family: Arial;
}

body {
  font-family: Arial, sans-serif;
}

header {
  text-align: center;
  padding: 10px;
  font-size: 50px;
  color: #232323;
  font-weight: bold;
}

h1 {
    color: #232323;
    font-size: 25px;
    text-align:center;
}

h2 {
    color: #f45d48;
    font-size: 20px;
    max-width: 300px;
    min-width: 300px;
    text-align: center;
}

img {
    max-width: 250px;
    max-height: 200px;
    background-color: #fffffe;
}

p {
    color: #222525;
    max-width: 300px;
    min-width: 300px;
    margin: 5px auto;
}

nav {
    display: flex;
    justify-content: space-evenly;
    background-color: #f45d48;
    padding: 10px;
    border-radius:5px;
}

a {
    color: #f5f5f5;
}

.product {
  display:grid;
  justify-content: center;
  align-items: center;
  display: inline-block;
  border: 1px solid white;
  margin: 10px auto;
  padding: 10px;
  background-color: #fffffe;
  text-align: center;
  border-radius: 20px;
  max-width: 400px;
}
.product:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.price {
    color: #078080;
}

.rating {
    color: #232323;
}

.product-text{
    max-width: 200px;
}

.button {
  background-color: #078080;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
}

.product-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 30px;
    justify-content: space-evenly;
}

.faq-container {
    background-color: #eee;
    padding: 20px;
    text-align: center;
}
